body {
    height: 100vh;
    margin: 0px 0px;
    background-color: #2e8285;
    display: flex;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1% 1%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

li {
    justify-content: space-evenly;
}

nav, footer {
    color: #352627;
    background-color: #a65456;
    height: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    display: flex;
    align-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 24px 24px;
}

.nav-item {
    color: white;
}

.link-button {
    color: #a65456;
}

#cat-food-can {
    height: auto;
    width: 150px;
}

a:link, a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

#teal-h1-text {
    color: #2e8285;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.teal-link {
    color: #2e8285;
}

.georgia-14-uppercase {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
}

@media screen and (max-width: 545px) {
    body {
        display: flex;
        flex-direction: column;
    }
    
    #welcome-screen-cat-img, #hasnt-been-fed-cat {
        height: 350px;
        width: auto;
        margin-left: 30px;
    }

    #no-dogs-allowed, #fed-cat {
        height: auto;
        width: 350px;
        margin-left: 50px;
    }

    #feed-cat-logo {
        height: 40px;
        width: auto;
        padding-right: 30px;
    }

    .button-styling {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        height: 25px;
        width: 200px;
        background-color: #FBF8ED;
        text-transform: uppercase;
        border-radius: 5px 5px;
        padding: 14px 14px;
        text-align: center;
    }

    .side-by-side-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 40px;
    }

    .image-with-caption {
        height: 600px;
        background-color: #2e8285;
        color: white;
    }

    nav {
        display: flex;
        width: 100%;
    }

    li {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        font-size: 14px;
        padding: 8px;
    }

    .image-with-caption {
        display: flex;
        flex-direction: column;
    }

    #click-the-can {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        height: 150px;
        width: auto;
        padding: 24px 24px;
    }

    #feed-cat-footer {
        margin-top: 75px;
    }

    .coming-soon-content {
        background-color: #FBF8ED;
        font-family: Arial, Helvetica, sans-serif;
        margin: 2% 2%;
        padding: 2% 2%;
    }

    #desktop-h1 {
        display: none;
    }

  }

  @media screen  and (min-width:769px) {

    body {
        display: flex;
        flex-direction: column;
    }

    nav, ul {
        display: flex;
        flex-direction: row;
        height: fit-content;
    }

    li {
        justify-content: space-evenly;
        margin-left: 100px;
    }

    #welcome-screen-cat-img, #hasnt-been-fed-cat {
        height: 400px;
        width: auto;
    }

    #no-dogs-allowed, #fed-cat {
        height: auto;
        width: 400px;
    }

    .side-by-side-content {
        display: flex;
        flex-direction: row;
        margin: 1% 8% 1%;
    }

    .image-with-caption {
        display: flex;
        flex-direction: column;
        padding: 5% 5%;
    }

    .side-by-side-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        align-content: center;
        margin: 2% 10% 2%;
        padding-bottom: 40px;
        width: 500px;
    }

    .link-button {
        margin-bottom: 5%;
        font-size: larger;
    }

    .button-styling {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        height: 25px;
        width: 400px;
        background-color: #FBF8ED;
        text-transform: uppercase;
        border-radius: 5px 5px;
    }

    .button-styling, h1 {
        padding: 14px 14px;
        text-align: center;
        margin: 5% 5%;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #mobile-h1 {
        display: none;
    }

    .coming-soon-content {
        background-color: #FBF8ED;
        font-family: Arial, Helvetica, sans-serif;
        margin: 2% 2%;
        padding: 2% 2%;
    }

  }